 
  {% extends 'base.html'%}
 

   {% block content %}
    <h1>2022 Likelion 3rd Session</h1>
    <body>
    <div class="container">
        <div class="header">
            <h1 class="hi">About Me!</h1>
        </div>

    <div class="content">
        <p>name:김나연</p>
        <p>나이:23세</p>
        <p>전공:식품산업관리학과</p>
        <p>융합소프트웨어학과</p>

    <div class="image">
       <img src="자기소개 이미지.png">

    </div>
    <div>
        <footer>자기소개자기소개자기소개자기소개</footer>
    </div>
        

           
    </div>

    </div>
    </body>
    <!-- firstpage 링크 연결 -->
    <a href="{% url 'main:showfirst' %}">first page</a>
    <!-- secondpage 링크 연결-->
    <a href="{% url 'main:showsecond' %}">second page</a>
    <h2><a href="{%url 'main:new'%}">글쓰기</a></h2>
   
    <h1>글 목록</h1>

    <div>
        {%for post in post%}
        <div>
            <a href="{%url 'main:detail' post.id%}">{{post.title}}</a>
 
            {{post.writer}}<br>
            {{post.summary}}
            <a href="{%url 'main:detail' post.id%}">...자세히</a>
            <br>
        </div>
        {%endfor%}
    </div>  

    {% endblock %}