{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<form action="{%url 'create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p> 제목 : <input type="text" name="title"></p>
    <p> 사진 : <input type ="file" name = "image"></p>
    <p> 내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <button type="submit">제출</button>
</form>
{% else %}

    <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
    <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>

{% endif %}

{% endblock %}  