{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="posts_back">
{% if user.is_authenticated %}
    <br>
    <h1>글 목록</h1>
    <hr>
   
    <div>
        {% for post in posts %}
        <div>   
            <h2>Title : {{post.title}}</h2>
            {% if post.writer %}
                {% if 'user' in post.writer.username %}
                    <h3>Writer : {{ post.writer.last_name }} {{ post.writer.first_name }}</h3>
                {% else %}
                    <h3>Writer : {{ post.writer }}</h3>
                {% endif %}
            {% else %}
                <h3>Unknown : 알 수 없음</h3>
            {% endif %}
            
            {{post.summary}}<br>
            <a href="{% url 'detail' post.id %}">..자세히</a>
        </div>
        {% endfor %}
    </div>

{% else %}

    <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
    <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>

{% endif %}
</body>



{% endblock %}

